@charset "UTF-8";

/* configuraçoes gerais */

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    background-color: #0B24FE;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    color: white;
    text-shadow: 3px 3px 0px #101077;
    padding: 10px;
    
  
}